[submodule "externals/hipCUB"]
	path = externals/hipCUB
	url = https://github.com/ROCmSoftwarePlatform/hipCUB.git
[submodule "externals/rocPRIM"]
	path = externals/rocPRIM
	url = https://github.com/ROCmSoftwarePlatform/rocPRIM.git
[submodule "externals/cub"]
	path = externals/cub
	url = https://github.com/NVlabs/cub.git
[submodule "externals/YAKL"]
	path = externals/YAKL
	url = https://github.com/mrnorman/YAKL.git
[submodule "externals/kokkos"]
	path = externals/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "externals/eigen"]
	path = externals/eigen
	url = git@gitlab.com:libeigen/eigen.git
